$grey-color: #000;
$white: #FFF;
$padding: 30px;
$mobile: new-breakpoint(max-width 768px 4);

$icon-width: 30px;
$icon-height: 30px;
$icons: url("../../images/social-icons-02.jpg");

$fb_big: url("../../images/facebook_big.jpg");
$fb_small: url("../../images/facebook_small.jpg");